body {
    background-color: whitesmoke;
}

.selectable {
    cursor: pointer;
    transition: all .2s ease;
}
.selectable:hover {
    transform: scale(1.02);
}


.checkout-box {
    
}

.menu-item img{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
}